.DS_Store

pkg/client/node_modules/
pkg/client/.vite-cache/
pkg/client/dist/
tmp/
ehosts.exe
# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln

package-lock.json
pnpm-lock.json
